# SPDX-FileCopyrightText: 2026 NOI Techpark <digital@noi.bz.it>
#
# SPDX-License-Identifier: CC0-1.0

# Used by fetch-rawdata-bicincitta.sh and test-bike-boxes-locations-loop.sh
BICINCITTA_CLIENT_ID=
BICINCITTA_CLIENT_SECRET=

# Used by fetch-rawdata-loewenbytes.sh and test-loewenbytes-locations.sh
LOEWENBYTES_CLIENT_ID=
LOEWENBYTES_CLIENT_SECRET=
