# SPDX-FileCopyrightText: 2024 NOI Techpark <digital@noi.bz.it>
#
# SPDX-License-Identifier: CC0-1.0

LOGLEVEL=DEBUG

# Cron polling schedule (with seconds)
CRON="0 */5 * * * *"

# Silky config file path
CONFIG_PATH=infrastructure/crawler-config/config.silky.yaml

# Callback endpoint to POST polled data to
CALLBACK_URL=http://localhost:8080/callback

# Telemetry
SERVICE_NAME=dc-gtfs-rt-json
TELEMETRY_TRACE_GRPC_ENDPOINT=
