# SPDX-FileCopyrightText: 2026 NOI Techpark <digital@noi.bz.it>
#
# SPDX-License-Identifier: CC0-1.0

LOG_LEVEL="DEBUG"

MQ_QUEUE=traffic-swiss.fedro
MQ_EXCHANGE=routed
MQ_KEY=traffic-swiss.fedro
MQ_CLIENT=tr-traffic-swiss
MQ_URI=amqp://username:password@rabbitmq:5672

RAW_DATA_BRIDGE_ENDPOINT=http://host.docker.internal:2000

BDP_BASE_URL=http://host.docker.internal:8080
BDP_PROVENANCE_VERSION=0.1.0
BDP_PROVENANCE_NAME=tr-traffic-swiss
BDP_ORIGIN=FEDRO

BDP_TOKEN_URL=https://auth.opendatahub.testingmachine.eu/auth/realms/noi/protocol/openid-connect/token
BDP_CLIENT_ID=odh-mobility-datacollector-development
BDP_CLIENT_SECRET=7bd46f8f-c296-416d-a13d-dc81e68d0830

SERVICE_NAME=tr-traffic-swiss
TELEMETRY_TRACE_GRPC_ENDPOINT=tempo-distributor-discovery.monitoring.svc.cluster.local:4317
