image:
  repository: ghcr.io/noi-techpark/opendatahub-collectors/rest-poller
  pullPolicy: IfNotPresent
  tag: "0.2.0" # Set this when upgrading chart with --set-value

env:
  MQ_CLIENT: dc-airquality-appa-open
  PROVIDER: airquality/appa-open

  CRON: "0 0 * * * *"
  HTTP_URL: "https://dati.retecivica.bz.it/services/airquality/timeseries?station_code=ML5&meas_code=NO2"

  SERVICE_NAME: dc-rest-poller-airquality-appa-open
  TELEMETRY_TRACE_GRPC_ENDPOINT: tempo-distributor-discovery.monitoring.svc.cluster.local:4317

envSecretRef:
  - name: MQ_URI
    secret: rabbitmq-svcbind
    key: uri
