image:
  repository: ghcr.io/noi-techpark/opendatahub-collectors/rest-poller
  pullPolicy: IfNotPresent
  tag: "0.2.0" # Set this when upgrading chart with --set-value

env:
  MQ_CLIENT: dc-echarging-driwe
  PROVIDER: echarging/driwe

  CRON: "0 */5 * * * *"
  HTTP_HEADER_CALLER: "X-Caller-ID: NOI-Techpark"

  SERVICE_NAME: dc-rest-poller-echarging-driwe
  TELEMETRY_TRACE_GRPC_ENDPOINT: tempo-distributor-discovery.monitoring.svc.cluster.local:4317

envSecret:
  HTTP_URL: https://www.driwe.club/api/stations/metadata?auth-token=******

envSecretRef:
  - name: MQ_URI
    secret: rabbitmq-svcbind
    key: uri

