image:
  repository: ghcr.io/noi-techpark/opendatahub-collectors/rest-poller
  pullPolicy: IfNotPresent
  tag: "0.2.0" # Set this when upgrading chart with --set-value

env:
  MQ_CLIENT: dc-parking-valgardena-metadata
  PROVIDER: parking-valgardena/metadata

  CRON: "0 0 0 * * *"
  HTTP_URL: "https://parking.valgardena.it/get_station_metadata"
  HTTP_HEADER_ACCEPT: "Accept: application/json"

  SERVICE_NAME: dc-rest-poller-parking-valgardena-metadata
  TELEMETRY_TRACE_GRPC_ENDPOINT: tempo-distributor-discovery.monitoring.svc.cluster.local:4317

envSecret:
  HTTP_HEADER_AUTHORIZATION: ""

envSecretRef:
  - name: MQ_URI
    secret: rabbitmq-svcbind
    key: uri
