# SPDX-FileCopyrightText: 2024 NOI Techpark <digital@noi.bz.it>
#
# SPDX-License-Identifier: CC0-1.0

SERVER_PORT=8080
LOGLEVEL=INFO
MQ_URI=amqp://guest:guest@rabbitmq
MQ_CLIENT=dc-rest-push-skidata
MQ_EXCHANGE=ingress
PROVIDER=skidata/parking-stations

INBOUND_AUTH_USER=testuser
INBOUND_AUTH_PASS=testpass

SKIDATA_BASE_URL=https://sweb.skidata.com
SKIDATA_CREDENTIALS_JSON='{"26":{"username":"user1","password":"pass1"}}'

SERVICE_NAME=dc-rest-push-skidata
TELEMETRY_TRACE_GRPC_ENDPOINT=localhost:4317
