image:
  repository: ghcr.io/noi-techpark/opendatahub-collectors/rest-poller
  pullPolicy: IfNotPresent
  tag: "0.2.0" # Set this when upgrading chart with --set-value

env:
  MQ_CLIENTNAME: dc-parking-valgardena-data
  PROVIDER: parking-valgardena/data

  CRON: "0 */2 * * * *"
  HTTP_URL: "https://parking.valgardena.it/get_station_metadata"
  HTTP_HEADER_ACCEPT: "Accept: application/json"

  SERVICE_NAME: dc-parking-valgardena-data
  TELEMETRY_TRACE_GRPC_ENDPOINT: tempo-distributor-discovery.monitoring.svc.cluster.local:4317

envSecret:
  HTTP_HEADER_AUTHORIZATION: ""

envSecretRef:
  - name: MQ_URI
    secret: rabbitmq-svcbind
    key: uri
