# SPDX-FileCopyrightText: 2026 NOI Techpark <digital@noi.bz.it>
#
# SPDX-License-Identifier: CC0-1.0

MQ_URI="amqp://localhost:5672"
MQ_QUEUE="api-crawler.discoverswiss-skiresort"
MQ_EXCHANGE="routed"
MQ_KEY="api-crawler.discoverswiss-skiresort"
MQ_CONSUMER="tr-discoverswiss-skiarea"

LOG_LEVEL="DEBUG"

RAW_DATA_BRIDGE_ENDPOINT="http://localhost:2000/"

ODH_CORE_URL=https://tourism.api.opendatahub.testingmachine.eu/v1
ODH_CORE_TOKEN_URL=https://auth.opendatahub.testingmachine.eu/auth/realms/noi/protocol/openid-connect/token
ODH_CORE_TOKEN_CLIENT_ID=
ODH_CORE_TOKEN_CLIENT_SECRET=