# SPDX-FileCopyrightText: 2026 NOI Techpark <digital@noi.bz.it>
#
# SPDX-License-Identifier: CC0-1.0

MQ_URI=amqp://rabbitmq
MQ_CLIENT=tr-google-spreadsheet-centrotrevi-events
MQ_EXCHANGE=routed
MQ_QUEUE=spreadsheets.centro-trevi-events
MQ_KEY=spreadsheets.centro-trevi

RAW_DATA_BRIDGE_ENDPOINT=http://localhost:2000

ODH_CORE_URL=https://tourism.api.opendatahub.testingmachine.eu/v1/
ODH_CORE_TOKEN_URL=https://auth.opendatahub.testingmachine.eu/auth/realms/noi/protocol/openid-connect/token
ODH_CORE_TOKEN_CLIENT_ID=odh-api-core-events-culture-serviceaccount
ODH_CORE_TOKEN_CLIENT_SECRET=

SERVICE_NAME=tr-google-spreadsheet-centrotrevi-events
TELEMETRY_TRACE_GRPC_ENDPOINT=
