# SPDX-FileCopyrightText: 2025 NOI Techpark <digital@noi.bz.it>
#
# SPDX-License-Identifier: CC0-1.0

LOG_LEVEL="DEBUG"
MQ_QUEUE=panocloud.webcams
MQ_EXCHANGE=routed  
MQ_KEY=panocloud.webcams
MQ_CLIENT=tr-webcam-panocloud
MQ_URI=amqp://guest:guest@localhost:5672

ODH_API_BASE_URL=https://tourism.api.opendatahub.testingmachine.eu/
ODH_API_TOKEN=