# SPDX-FileCopyrightText: 2024 NOI Techpark <digital@noi.bz.it>
#
# SPDX-License-Identifier: CC0-1.0

MQ_URI=amqp://guest:guest@rabbitmq
MQ_CLIENT=dc-parking-offstreet-famas-dev # identify your datacollector to rabbitmq
MQ_EXCHANGE=ingress # defaults to ingress
LOGLEVEL=DEBUG
PROVIDER=parking-offstreet-famas/bolzano

# Cron polling schedule, starting with seconds
CRON="* * * * * *"
RPC_URL=http://example.com:1234/XMLRPCPATH