# SPDX-FileCopyrightText: 2026 NOI Techpark <digital@noi.bz.it>
#
# SPDX-License-Identifier: CC0-1.0

SHEETS_CLIENT_ID=
SHEETS_CLIENT_SECRET=
SHEETS_REFRESH_TOKEN=

SPREADSHEET_ID=
SPREADSHEET_NOTIFICATION_URL=https://spreadsheets.testingmachine.eu/centro-trevi/trigger

TRIGGER_PATH=/trigger
TRIGGER_PORT=8082
TRIGGER_MAX_UPDATE_FREQUENCY=10000
GOOGLE_WATCH_EXPIRATION_HOURS=24

PROVIDER=spreadsheets/centro-trevi
MQ_URI=amqp://rabbitmq
MQ_CLIENT=dc-google-spreadsheet-centro-trevi
MQ_EXCHANGE=ingress

SERVICE_NAME=dc-google-spreadsheet-centro-trevi
TELEMETRY_TRACE_GRPC_ENDPOINT=
