# SPDX-FileCopyrightText: 2026 NOI Techpark <digital@noi.bz.it>
#
# SPDX-License-Identifier: CC0-1.0

MQ_URI=amqp://guest:guest@rabbitmq
MQ_CLIENT=dc-feratel-webcams-dev # identify your datacollector to rabbitmq
MQ_EXCHANGE=ingress # defaults to ingress
LOGLEVEL=DEBUG
PROVIDER=webcams/webcam-feratel

# Cron polling schedule, starting with seconds
CRON="0 * * * * *"

# Feratel XML feed. The language param (LANGUAGE_PARAM) is overwritten for each entry in LANGUAGES
HTTP_URL='http://wtvxmlp.feratel.com/xmlpan/x3/infoxml.jsp?pg=CDB9645D-E67B-44D2-9FC9-E1539FF9A6B7&lg=de&showKeywords=1&geoXY=1&xmlv3=1&nolg=1'
LANGUAGE_PARAM=lg
LANGUAGES=de,it,en
