# SPDX-FileCopyrightText: 2024 NOI Techpark <digital@noi.bz.it>
#
# SPDX-License-Identifier: CC0-1.0

APP_RABBITMQ_URI=amqp://guest:guest@rabbitmq
APP_RABBITMQ_Exchange=ingress
APP_RABBITMQ_ClientNAME=dc-mqtt-client-dev
APP_MQTT_user=
APP_MQTT_pass=
APP_MQTT_uri=
APP_MQTT_clientid=airQuinoLinearizationDev
APP_MQTT_topic=AirQuino/RawData
APP_LogLevel=INFO