# SPDX-FileCopyrightText: 2024 NOI Techpark <digital@noi.bz.it>
#
# SPDX-License-Identifier: CC0-1.0

RABBITMQ_URI=amqp://rabbitmq:5672
PROVIDER=parking-offstreet/merano
RABBITMQ_CLIENTNAME=parking-offstreet-datacollector-merano
FILEPATH=test.file