# SPDX-FileCopyrightText: 2024 NOI Techpark <digital@noi.bz.it>
#
# SPDX-License-Identifier: CC0-1.0

# MQ
MQ_URI=amqp://guest:guest@localhost:5672/
MQ_QUEUE=traffic-event.a22-brennerlec
MQ_EXCHANGE=routed
MQ_KEY=traffic-event.a22-brennerlec
MQ_CLIENT=tr-traffic-event-a22-brennerlec

# ODH Content API
ODH_CORE_URL=https://api.tourism.testingmachine.eu/v1
ODH_CORE_TOKEN_URL=https://auth.opendatahub.testingmachine.eu/auth/realms/noi/protocol/openid-connect/token
ODH_CORE_TOKEN_CLIENT_ID=
ODH_CORE_TOKEN_CLIENT_SECRET=

# Telemetry
SERVICE_NAME=tr-traffic-event-a22-brennerlec
TELEMETRY_TRACE_GRPC_ENDPOINT=

# Logging
LOG_LEVEL=DEBUG
