# SPDX-FileCopyrightText: 2025 NOI Techpark <digital@noi.bz.it>
#
# SPDX-License-Identifier: CC0-1.0

MQ_URI=amqp://guest:guest@infrastructure-v2-rabbitmq-1:5672
MQ_CLIENT=tr-momentus-venues-dev
MQ_EXCHANGE=ingress
MQ_QUEUE=venues.momentus
MQ_KEY=venues.momentus
LOG_LEVEL=DEBUG
PROVIDER=venues/momentus

RAW_DATA_BRIDGE_ENDPOINT=http://infrastructure-v2-bridge-1:2000/

ODH_VENUE_API=https://tourism.api.opendatahub.testingmachine.eu/v1
ODH_VENUE_NOI_ID=
ODH_VENUE_EURAC_ID=

ODH_CORE_URL=https://tourism.api.opendatahub.testingmachine.eu/v1/
ODH_CORE_TOKEN_URL=https://auth.opendatahub.testingmachine.eu/auth/realms/noi/protocol/openid-connect/token
ODH_CORE_TOKEN_CLIENT_ID=odh-api-core-venues-momentus-serviceaccount
ODH_CORE_TOKEN_CLIENT_SECRET=
ODH_CORE_REFERER=https://importer.v2.opendatahub.testingmachine.eu/momentus.venues

INSECURE_SKIP_VERIFY=true
SKIP_SSL_VERIFY=true

SERVICE_NAME=tr-momentus-venues
TELEMETRY_TRACE_GRPC_ENDPOINT=localhost:4317
