# SPDX-FileCopyrightText: 2024 NOI Techpark <digital@noi.bz.it>
#
# SPDX-License-Identifier: CC0-1.0

INGRESS_PROVIDER=parking-offstreet/bolzano
INGRESS_RABBITMQ_URI=amqp://rabbitmq
INGRESS_RABBITMQ_CLIENTNAME=spreadsheet-datacollector-localdev

CRON_SCHEDULE="*/20 * * * * ?"

pbz_default_server_host=109.117.22.203
pbz_default_server_port=7075
pbz_default_site_name=/RPC2