replicaCount: 1

image:
  repository: ghcr.io/noi-techpark/opendatahub-collectors/dc-sftp-server
  pullPolicy: IfNotPresent
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}

podLabels: {}

service:
  type: ClusterIP
  port: 22
  

resources: {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

livenessProbe:
  tcpSocket:
    port: 22
  initialDelaySeconds: 5
  periodSeconds: 5
  timeoutSeconds: 3
  failureThreshold: 3

# A map of key:value environment variables
env:
# A map of sensitive environment variables, they are created as a secret
envSecret:
# A list of (name | secret | key ) tuples that map env variable "name = secret.key"
envSecretRef: